<section class="sub-pages appointment-bg">
    <div class="all-wrapper">
      <div class="page-title-content text-center">
        <h2>Our Services</h2>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li class="none-list">Our Services</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="welcome-area container mt-5">

    <div class="row doctor-search-wrap">
        <div class="col-sm-6 col-lg-6">
          <div class="doctor-search-item">
            <div class="form-group"> <img src="assets/images/de8.png" alt="">
              <label>Item Type</label>
              <input type="search" class="form-control srch" placeholder="Search Item">
         
          
            </div>
            <button type="submit" class="btn doctor-search-btn"> <i class="icofont-search-1"></i> </button>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="doctor-search-item">
            <div class="form-group"> <img src="assets/images/dparicon.png" alt="">
              <label>Department</label>
              <select class="form-control">
                <option>--Select Department--</option>
                <option>Anesthesia
                </option>
                <option>Blood Bank
                </option>
                <option>Burn & Plastic Surgery
                </option>
                <option>Cardiology
                </option>
                
              </select>
            </div>
          </div>
        </div> 
  
        <!-- <div class="col-sm-2 col-lg-1 pe-0">
          <button class="btnserach"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div> -->
      </div>
    <div class="row">
     
    
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p> Complete Blood Count ( CBC) </p>
                  <label>TK:400</label>
                 
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p> Hemoglobin (Hb %) </p>
                  <label>TK:250</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>Peripheral Blood Film/PBF </p>
                  <label>TK:350</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>Blood Circulating Total Eosinophil Count  </p>
                  <label>TK:300</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>Reticulocyte Count (R/C)   </p>
                  <label>TK:1000</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>Platelet Count </p>
                  <label>TK:300</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>BT.CT </p>
                  <label>TK:300</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>CE Count </p>
                  <label>TK:300</label>
                 
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/mit.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Hematology</h3>
                  <p>WBC Count </p>
                  <label>TK:300</label>
                 
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/gy2.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Thalassemia</h3>
                  <p>Hb Electrophoresis </p>
                  <label>TK:2000</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>HbA1c </p>
                  <label>TK:1100</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>FBS ( Fasting Blood Sugar )  </p>
                  <label>TK:150</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>RBS ( Random Blood Sugar ) </p>
                  <label>TK:150</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>1 Hr 75 gm Glucose  </p>
                  <label>TK:200</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>2 Hr 75 gm Glucose  </p>
                  <label>TK:200</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>2 Hrs ABF   </p>
                  <label>TK:200</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>OGTT-2 Samples ( FBS+2Hrs 75g Post Glucose Load )  </p>
                  <label>TK:400</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>OGTT-3 Samples ( FBS+ 1 Hr+2Hrs 75g Post Glucose Load )  </p>
                  <label>TK:600</label>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>OGTT-4 Samples  </p>
                  <label>TK:800</label>
                </div>
              </div>


              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>PPBS ( Post Prandial Blood Sugar)   </p>
                  <label>TK:200</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>ACR Urine   </p>
                  <label>TK:1000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>Insulin   </p>
                  <label>TK:2000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>HOMA-IR  </p>
                  <label>TK:3000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/dyb.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Diabetes</h3>
                  <p>C-Peptide  </p>
                  <label>TK:4500</label>
                </div>
              </div>


              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Kidney Function Tests- KFT/RFT </p>
                  <label>TK:1500</label>
                </div>
              </div>
           

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Serum Creatinine  </p>
                  <label>TK:400</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Blood Urea Nitrogen ( BUN)  </p>
                  <label>TK:450</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Serum Urea  </p>
                  <label>TK:450</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>eGFR</p>
                  <label>TK:1000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>CCR-24 Hrs Urine </p>
                  <label>TK:1000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Urinary Micro albumin</p>
                  <label>TK:1000</label>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="department-block">
                  <div class="item-icon"> <img width="100" height="100" src="assets/images/uro.png" class="attachment-full" alt=""> </div>
                  <h3 class="item-title">Kidney Disease</h3>
                  <p>Micro Albumin Urine 24hrs</p>
                  <label>TK:1000</label>
                </div>
              </div>

                 
            


           
     
    
    
    </div>
  </section>
  