.appointment-bg{
    /* background-image: url(../../../../../assets/images/slider2.jpg); */
     position: relative;
}

.department-block {
    position: relative;
    padding: 6px 24px 38px;
    z-index: 1;
    text-align: center;
    margin: 4px 0;color: #344c5d;
    box-shadow: 0px 4px 10px 3px rgb(21 3 131 / 5%);
    text-align: center;
    background: #fff;
    border-radius: 8px;border: solid 1px #eaeeff;
    min-height: 290px;margin-bottom: 22px;
}
.department-slider {
    width: 103%;
    float: left;
    right: 1%;
    position: relative;
    margin-top: 22px;
}
.item-icon {
    height: 92px;
    width: 92px;
    position: relative;
    display: inline-block;
    margin: 23px auto 14px;
    box-shadow: 0px 4px 10px 3px rgb(21 3 131 / 5%);
    border-radius: 100px;
}
 /* .item-icon:before {
    content: '';
    -webkit-border-radius: 92px;
    -khtml-border-radius: 92px;
    -moz-border-radius: 92px;
    -ms-border-radius: 92px;
    -o-border-radius: 92px;
    border-radius: 92px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px dashed #082680;
    position: absolute;
    -webkit-transition: .3s cubic-bezier(.24,.74,.58,1);
    -khtml-transition: .3s cubic-bezier(.24,.74,.58,1);
    -moz-transition: .3s cubic-bezier(.24,.74,.58,1);
    -ms-transition: .3s cubic-bezier(.24,.74,.58,1);
    -o-transition: .3s cubic-bezier(.24,.74,.58,1);
    transition: .3s cubic-bezier(.24,.74,.58,1);
} */
.item-icon img {
    max-height: 58px;
    width: auto;
    top: 17px;
    position: relative;
}
.item-title {
    font-size:19px; font-weight: bold;
    margin-bottom:0px;
    padding-bottom: 4px;
    position: relative; color: #000;
}
/* .item-title:before {
    content: '';
    width: 28px;
    height: 2px;
    background-color: #082680;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */
.department-block p {
    font-size: 15px; margin-top:2px; margin-bottom: 6px;color: #021fa2;
    font-weight: bold;
}
.de-bor:after {
margin-bottom: 22px;
    left: 0px;
     right:inherit;
    bottom: -18px;
    margin: inherit;
}

.department-block label{
    border: dashed 1px #c7c7c7;
    color: #4a0258;
    padding: 1px 22px;
    border-radius: 40px;
    font-size: 18px;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 120px;
    margin: auto;
    bottom: 20px; font-weight: bold;
}

.doctor-search-item {
    margin-bottom: 30px;
    max-width: 94%;
}
button.btnserach {
    background: #0046c0;
    border: 0px;
    color: #fff;
    font-size: 17px;
    padding: 5px 18px;
    border-radius: 34px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 3px #595555;
    top: 23px; right: 12px;
    position: relative;
}
.doctor-search-item .form-group {
    position: relative;
    padding-left: 60px;
    margin-bottom: 0;
}

.doctor-search-item .form-group img {
    display: inline-block;
    color: #0046c0;
    font-size: 38px;
    position: absolute;
    top: 8px;
    left: 3px;
    width: 48px;
}
.doctor-search-item .form-group label {
    color: #0046c0;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.doctor-search-item .form-group .form-control {
    font-weight: 600;
    font-size: 15px;
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccd9f2;
}
.doctor-search-item .doctor-search-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #344c5d;
    font-size: 18px;
}

.doctor-search-wrap{
    padding-top: 16px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 0 4px #afacac;
    z-index: 1;
    background-color: #fff;
    max-width: 970px;
    margin: auto;
    z-index: 99;
    position: relative;
    top: -38px;
}