<section class="sub-pages appointment-bg">
    <div class="all-wrapper">
      <div class="page-title-content text-center">
        <h2>Skills</h2>
       
      </div>
    </div>
  </section>
<div class="clearfix"></div>

<section class="skill-section">
    <div class="container">
        <div class="row">
      
    
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
               <img src="assets/images/html.svg" alt=""> 
              </div>
              <h4>HTML5</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
    
          
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/css.svg" alt=""> 
              </div>
              <h4>CSS3</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
    
          
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/js.svg" alt=""> 
              </div>
              <h4>JavaScript </h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>

          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/angular.svg" alt=""> 
              </div>
              <h4>Angular</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>

          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/reactjs.svg" alt=""> 
              </div>
              <h4>Reactjs</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/figma.svg" alt=""> 
              </div>
              <h4>Figma</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/ps.svg" alt=""> 
              </div>
              <h4>Photoshop</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>

          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/ills.svg" alt=""> 
              </div>
              <h4>Illustrator </h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>

          <div class="col-md-3 offset-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/wireframe.svg" alt=""> 
              </div>
              <h4>Wireframe </h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="services-block-all">
              <div class="icon-allser">
                <img src="assets/images/xd.svg" alt=""> 
              </div>
              <h4>XD</h4>
                <!-- <button class="btn-all-security color-exp">Read more <i class="fas fa-chevron-right"></i></button> -->
            </div>
          </div>
      
        </div>
      </div>
</section>



<div class="container">
    <div class="col-md-12 don-area">
        <div class="download-cv">
            <h2>Download CV</h2>
            <button (click)="downloadMyFile()">Download<i class="fa-solid fa-download me-2"></i></button>
        </div>

        
    </div>
</div>