
<div id="carouselExampleDark" class="carousel slide carousel-fade carousel-animate carousel-bg" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="assets/images/bgallslider.svg" class="d-block w-100" alt="...">
      <div class="all-wrapper">
        <div class="row rever-row">
          <div class="col-md-7">
            <div class="carousel-caption d-none d-md-block">
              <div class="carousel-caption">
                <div class="hero">
                  <h6 class="fadeInUp animated">Time responsibility. Determination. Goals orientated.</h6>
                  <h1 class="fadeInUp animated">I Make a professional and creative design</h1>
                  <p class="fadeInUp animated">I create, publish your website and
                    graphic design project. I believe Winning Products <br>
                    Must Have Great Design And World-Class Technology Execution To Stand Apart In Fast <br>
                    Moving, Often Crowded, Always Competitive Markets.</p>
                  <button  class="btn btn-hero btn-lg fadeInUp animated make-app-blcok" routerLink="/about-us" role="button">Read Details <span><i class="fa-solid fa-chevron-right"></i></span> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="pic-area-banner">
              <div class="pic-area-banner-inner">
                <div class="rotating"><img alt="Image" src="assets/images/home-one-shape.png"></div>
                <img class="ban-mobile" src="assets/images/banner.svg" alt=""> </div>
              <!-- <div class="doc-block text-center rollIn animated">
                <i class="fa-solid fa-user-doctor"></i><br>
                200+  Doctors
              </div> --> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item"> <img src="assets/images/bgallslider.svg" class="d-block w-100" alt="...">
      <div class="all-wrapper">
        <div class="row rever-row">
          <div class="col-md-7">
            <div class="carousel-caption d-none d-md-block">
              <div class="carousel-caption">
                <div class="hero">
                  <h6 class="fadeInUp animated">Perfection. Determination. Ability to grasp concepts quickly.</h6>
                  <h1 class="fadeInUp animated">You provide the vision, we provide the solution.</h1>
                  <p class="fadeInUp animated">I passion is turning great ideas into create your website and graphic design</p>
                  <button  class="btn btn-hero btn-lg fadeInUp animated make-app-blcok" role="button" routerLink="/about-us">Read Details <span><i class="fa-solid fa-chevron-right"></i></span> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="pic-area-banner">
              <div class="pic-area-banner-inner">
                <div class="rotating"><img alt="Image" src="assets/images/home-one-shape.png"></div>
                <img class="ban-mobile" src="assets/images/banner2.svg" alt=""> </div>
              <!-- <div class="doc-block text-center rollIn animated">
               <i class="fa-solid fa-user-doctor"></i><br>
               200+  Doctors
             </div> --> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-item">
       <img src="assets/images/bgallslider.svg" class="d-block w-100" alt="..."> 
       <div class="all-wrapper">
        <div class="row">
          <div class="col-md-7">
            <div class="carousel-caption d-none d-md-block">
              <div class="carousel-caption">
                <div class="hero">
                  
                  <h6 class="fadeInUp animated">Your health is our priority</h6>
                         <h1 class="fadeInDown animated">Hospitals providing <br>total healthcare Solutions</h1>
                         <p class="fadeInUp animated">As well as the concept of customer satisfaction in the ongoing relationship of our<br> business culture. We are committed to working for the kind of people. At D'Akbar<br> Health Care, we are actively involved in helping people stay healthy and happy.</p>
                         <button  class="btn btn-hero btn-lg fadeInUp animated make-app-blcok" role="button">Read Details <span><i class="fa-solid fa-chevron-right"></i></span>
                         
                         </button>
                  
                    
                 </div>
             </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="pic-area-banner animated fadeInDown">
              <button class="offerbtn rollIn animated"><i class="fa-solid fa-tag me-2"></i>Good Services </button>
              <div class="pic-area-banner-inner">
                <img src="assets/images/slider2.jpg" alt="">
              </div>
              <div class="doc-block text-center rollIn animated">
                <i class="fa-solid fa-user-doctor"></i>
                100+ Doctors
              </div> 
            </div>
          </div>
        
         
        </div>
        </div>
      </div>


      <div class="carousel-item">
        <img src="assets/images/bgallslider.svg" class="d-block w-100" alt="..."> 
        <div class="all-wrapper">
       <div class="row">
         <div class="col-md-7">
           <div class="carousel-caption d-none d-md-block">
             <div class="carousel-caption">
               <div class="hero">
                    
                <h6 class="fadeInUp animated">Your health is our priority</h6>
                <h1 class="fadeInDown animated">Hospitals providing <br>total healthcare Solutions</h1>
                <p class="fadeInUp animated">As well as the concept of customer satisfaction in the ongoing relationship of our<br> business culture. We are committed to working for the kind of people. At D'Akbar<br> Health Care, we are actively involved in helping people stay healthy and happy.</p>
                <button  class="btn btn-hero btn-lg fadeInUp animated make-app-blcok" role="button">Read Details <span><i class="fa-solid fa-chevron-right"></i></span>
                
                </button>
                  
                </div>
            </div>
           </div>
         </div>
         <div class="col-md-5">
           <div class="pic-area-banner animated fadeInUp">
             <button class="offerbtn fadeInUp animated"> <i class="fa-solid fa-user-doctor"></i><br>
              100+ Doctors</button>
             <div class="pic-area-banner-inner">
               <img src="assets/images/slider3.jpg" alt="">
             </div>
          
           </div>
         </div>
       </div>
       </div>
     </div> --> 
    
    <!-- <div class="carousel-item" data-bs-interval="2000">
       
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-caption">
            <div class="hero zoomInDown  animated">
                <div>
                    <h1>Two</h1>
                    <h3>Get start your next awesome project</h3>
                </div>
                <button class="btn btn-hero btn-lg zoomIn animated" role="button">See all features</button>
            </div>
        </div>
        </div>
      </div>
      <div class="carousel-item">
       
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-caption">
            <div class="hero rollIn animated">
                <div class="rotateInDownRight animated">
                    <h1>Three</h1>
                    <h3>Get start your next awesome project</h3>
                </div>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
            </div>
        </div>
        </div>
      </div> --> 
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
</div>
