

<app-slider></app-slider>
<div class="col-md-12" id="about"></div>
<div class="clearfix"></div>
<div class="container mt-5 pt-5">
<div class="row mt-5">
  <div class="col-md-6">
    <div class="about-img">
      <img src="assets/images/about.svg" alt="about">
    </div>
  </div>
  <div class="col-md-6">
    <div class="section-title mt-35">
      <h2>Hey ! <br> Let’s  Introduce About<br> <span>My Self.</span></h2>
    </div>
    <div class="about-info mt-3 mt-cus3">
      <div class="about-content">
        <p>Are you looking for a front-end designer to convert PSD to HTML + Psd to bootstrap + Sketch to HTML + Xd to HTML + Ai to HTML + Figma to HTML + Zeplin to HTML + PDF to HTML with FREE RESPONSIVE DESIGN FOR ALL DEVICES? If your answer is "Yes" then you have come to the right place! I am working with 10+ years of experience in this profession.
        </p>
      </div>
      <p> <strong>I will provide those services!</strong>
      </p>

      <p>
        Figma to HTML, PSD to HTML, Sketch to HTML, wireframe to  html, Xd to HTML, Ai to HTML, PDF to HTML, Landing page etc...
<br><br>
Having a good knowledge of Angular (Structural design by angular, Create core module, Create shared module, Create Routing, Create components), jQuery, and different CSS/Sass frameworks especially Bootstrap. My strong point on CSS/Sass is I build responsive designs which work on different screen resolutions.
      </p>
      <div class="about-btn">
        <button routerLink="/about-us" class="btn btn-hero btn-lg fadeInUp animated make-app-blcok" role="button">Read Details <span><i class="fa-solid fa-chevron-right"></i></span>
                         
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="clearfix"></div>
<div class="container mt-5 mt-0cus pt-5">
<div class="row">
  <div class="col-md-12 mt-5">
    <div class="all-title-area">
      <div class="col-md-12 text-center mt-5">
        <label class="label-all">Working Process</label>
      </div>
      
      <h1 class="title-all text-center mt-2 font-manrope">How It Works</h1>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    
    <div class="twm-how-it-work-section">
      <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="twm-w-process-steps">
                  <span class="twm-large-number">01</span>
                  <div class="twm-w-pro-top bg-clr-sky">
                      <div class="twm-media">
                          <span><img src="assets/images/icon2.png" alt="icon1"></span>
                      </div>
                      <h4 class="twm-title">Idea generate on <br>the project</h4>
                  </div>
                  <p>I passion is turning great ideas into create your website and graphic design. </p>
              </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="twm-w-process-steps">
                  <span class="twm-large-number">02</span>
                  <div class="twm-w-pro-top bg-clr-pink">
                      <div class="twm-media">
                          <span><img src="assets/images/icon1.png" alt="icon1"></span>
                      </div>
                      <h4 class="twm-title">Sketch or<br>
                        Demo design</h4>
                  </div>
                  <p>Once the outline is finished, visual concepts of the custom project will be created.</p>
              </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="twm-w-process-steps">
                  <span class="twm-large-number">03</span>
                  <div class="twm-w-pro-top bg-clr-green">
                      <div class="twm-media">
                          <span><img src="assets/images/icon3.png" alt="icon1"></span>
                      </div>
                      <h4 class="twm-title">Converting demo<br> to coding</h4>
                  </div>
                  <p>Converting demo to coding with pixelperfect design</p>
              </div>
          </div>

      </div>
  </div>
  </div>

</div>

</div>
<div class="clearfix"></div>
<div class="department-wrapper margin-top-150 pt-5 pb-5" id="service">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-sm-12 col-lg-5 text-start">
        <div class="all-title-area pt-5 mt-5 mt-0cus2">
          <h4>I provide Amazing Solutions </h4>
          <h1 class="title-all text-start mt-3 font-manrope">Industries we work for</h1>
          <p>
            I am specialized in graphic and custom web design for businesses that feel their branding strategy is “coasting” at best. The Pixeperfect provides custom Web / Interactive, Marketing, SEO, Custom Graphic / Logo Design, Branding, Advertising, Media, Mobile Design and Strategic Planning to clients in high-tech B2B, B2C, consulting, security and non-profit.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7">
     <div class="row">
      <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
              <img src="assets/images/1.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">Webdesign / Interactive</a>
          </div>                               
      </div>
       </div>
       <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
                <img src="assets/images/2.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">UI / UX</a>
          </div>                               
      </div>
       </div>
       <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
                <img src="assets/images/3.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">Mobile Design</a>
          </div>                               
      </div>
       </div>
       <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
                <img src="assets/images/4.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">Graphics Design</a>
          </div>                               
      </div>
       </div>
       <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
                <img src="assets/images/5.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">SEO </a>
          </div>                               
      </div>
       </div>
       <div class="col-md-6">
        <div class="job-categories-block">
          <div class="twm-media">
              <div class="flaticon-customer-support">
                <img src="assets/images/6.svg" alt="">
              </div>
          </div>                                   
          <div class="twm-content">
              <div class="twm-jobs-available">1,000+  Projects</div>
              <a href="">Video / Media</a>
          </div>                               
      </div>
       </div>
     </div>
      </div>
    </div>
  
   
  </div>
</div>
<div class="clearfix"></div>

  <div class="all-wrapper mt-5 pt-5 mt-0cus2">
    <div class="container">
      <div class="col-md-12">
        <div class="all-title-area">
          <div class="col-md-12 text-center mt-5">
            <label class="label-all">My work</label>
          </div>
          <h1 class="title-all text-center mt-2 font-manrope">Projects</h1>
        </div>
      </div>
      <div class="testimonial-slider-three pt-4 splist-all">

        <div class="row mb-5">
        
          <div class="col-md-4 p-4">
              <div class="gr-block">
                  <div class="gr-block-list">
                      <img src="assets/images/r.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
                     <span class="modal-img" onclick="openModal();currentSlide(1)">
                      <i class="fa-regular fa-plus"></i>
                     </span>
                     <div class="post-date">Ryioyu</div>
                  </div>
                  <div class="entry-content">
                    <h3 class="service-title">Ryioyu ecommerce template design</h3>
                    <p>
                      It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
                    </p>
                    <button class="btn-view" onclick="openModal();currentSlide(1)">View Details</button>
                </div>
              </div>
            
          </div>
  
          <div class="col-md-4 p-4" style="border-left: 1px solid #e2e2e2;
          border-right: 1px solid #e2e2e2;">
              <div class="gr-block">
                  <div class="gr-block-list">
                      <img src="assets/images/at.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
                     <span class="modal-img" onclick="openModal();currentSlide(2)">
                      <i class="fa-regular fa-plus"></i>
                     </span>
                     <div class="post-date">Attorney Live</div>
                  </div>
                  <div class="entry-content">
                      <h3 class="service-title">Attorney Live template design</h3>
                      <p>
                        It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
                      </p>
                      <button class="btn-view" onclick="openModal();currentSlide(2)">View Details</button>
                  </div>
              </div>
            
          </div>
  
          <div class="col-md-4 p-4">
              <div class="gr-block">
                  <div class="gr-block-list">
                      <img src="assets/images/che1.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
                     <span class="modal-img" onclick="openModal();currentSlide(3)">
                      <i class="fa-regular fa-plus"></i>
                     </span>
                     <div class="post-date">Checkup</div>
                  </div>
                  <div class="entry-content">
                    <h3 class="service-title">Checkup mobile app</h3>
                    <p>
                      It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on mobile device.
                    </p>
                    <button class="btn-view" onclick="openModal();currentSlide(3)">View Details</button>
                </div>
              </div>
            
          </div>
  
       
          <div class="about-btn text-center mt-5">
            <button  class="btn btn-hero btn-lg fadeInUp animated make-app-blcok btn-all-port" role="button" routerLink="/project">View All <span><i class="fa-solid fa-chevron-right"></i></span>
                             
            </button>
        </div>
        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">
        
            <div class="mySlides">
              <div class="numbertext">1 / 3</div>
             <span class="link-all"> <a target="_blank" href="https://www.figma.com/proto/ndi91DG2NDo16oHkr90P3O/Ryioyu-main?node-id=0-1&p=f&t=3SPzimlgtcWsMXoY-0&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1">Click to preview Figma design</a></span>
              <img src="assets/images/ryioyu.png" style="width:100%">
            </div>
        
            <div class="mySlides">
              <div class="numbertext">2 / 3</div>
              <span class="link-all"> <a  target="_blank" href="https://www.figma.com/file/E2b5lKmyLfaSjr85tTvRBk/ATTORNEY-LIVE-website?node-id=0%3A1">Click to preview Figma design</a></span>
              <img src="assets/images/at2.png" style="width:100%">
            </div>
      
            <div class="mySlides">
              <div class="numbertext">3 / 3</div>
              <span class="link-all"> <a  target="_blank" href="https://www.figma.com/file/oSeksTlLfRh2suxxbQRd18/Checkopup">Click to preview Figma design</a></span>
              <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/checkup-app/1.html#">Click to preview web</a></span>
              <img src="assets/images/chec2.png" style="width:100%">
            </div>
           
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
            <div class="caption-container">
              <p id="caption"></p>
            </div>
        
            
           
           
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="clearfix"></div>
<!-- <div class="appointment-area ptb-100 plr-15 mt-5" id="backApp">
  <div class="container-fluid p-0">
    <app-book-appointment></app-book-appointment>
  </div>
</div> -->
<div class="counter-area counter-area-two margin-top-150 mb-5">
  <div class="container">
    <div class="row counter-bg">
      <!-- <div class="col-sm-6 col-lg-3">
        <div class="counter-item"><i class="fa-solid fa-bed"></i>
          <h3 class="counter"> 50</h3>
          <p>Patients Beds</p>
        </div>
      </div> -->
      <div class="col-sm-6 col-lg-4">
        <div class="counter-item"><i class="fas fa-users"></i>
          <h3><span class="counter">1,000</span>+</h3>
          <p>Happy Clients</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="counter-item"><i class="far fa-file-code"></i>
          <h3><span class="counter">1,000</span>+</h3>
          <p>Successful Projects</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="counter-item"><i class="fas fa-user-clock"></i>
          <h3 class="counter">24/7
          </h3>
          <p>Support Available

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="container pt-5 pt-0a" id="testmon">
  <div class="row mt-5">
    <div class="col-sm-12 col-lg-6">
      <h1 class="clientsay">
        What<br>
Happy Client Says ?
      </h1>

      <div class="client-profile">
       <div class="client-row">
        <span class="client-one">
          <img src="assets/images/c1.png" alt="">
        </span>
        <span class="client-two">
          <img src="assets/images/c2.png" alt="">
        </span>
       </div>
       <span class="client-three">
          <img src="assets/images/cc1.png" alt="">
        </span>
        <div class="client-row">
          <span class="client-four">
          <img src="assets/images/cl4.png" alt="">
        </span>
        <span class="client-five">
          <img src="assets/images/cl5.png" alt="">
        </span></div>
       
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 p-0">
      <div class="client-bg">
        <app-department-list></app-department-list>
      </div>
    </div>
  </div>
</div>

























