<section class="sub-pages appointment-bg">
    <div class="all-wrapper">
      <div class="page-title-content text-center">
        <h2>Our Specialists</h2>
        <ul>
            <li><a routerLink="/home">Home</a></li>
          <li class="none-list">Our Specialists</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="welcome-area mt-5">
    <div class="row">
      <div class="col-md-3 p-0"> 
        <div class="aside-left">
            <aside class="aside-section">
                <h3 class="aside-h3 m-0"> Depaermemnt</h3>
                <p class="aside-p">Following Departments are available</p>
    
                <div class="doctor-search-item"> <img src="assets/images/dparicon.png" alt="">
                    
                    <input type="search" class="form-control srch" placeholder="Search Doctor or Department">
                    <i class="fa-solid fa-magnifying-glass"></i>
                
                  </div>
    
                <ul class="list-group srchbody">
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Medicine">
                        <label class="form-check-label" for="Medicine">
                        Medicine
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Kidney">
                        <label class="form-check-label" for="Kidney">
                            Kidney & Medicine
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Gastrology">
                        <label class="form-check-label" for="Gastrology">
                            Gastrology
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Gynea">
                        <label class="form-check-label" for="Gynea">
                            Gynea & Obs
                        </label>
                      </div>
                    </li>
    
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Orthopedic">
                        <label class="form-check-label" for="Orthopedic">
                            Orthopedic
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Pediatric">
                        <label class="form-check-label" for="Pediatric">
                            Pediatric
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Neuro">
                        <label class="form-check-label" for="Neuro">
                            Neuro-Medicine
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ENT">
                        <label class="form-check-label" for="ENT">
                            ENT
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Cardiology">
                        <label class="form-check-label" for="Cardiology">
                            Cardiology
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Dermatology">
                        <label class="form-check-label" for="Dermatology">
                            Dermatology and venereal diseases
    
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Urology">
                        <label class="form-check-label" for="Urology">
                            Urology
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Surgery">
                        <label class="form-check-label" for="Surgery">
                            Surgery
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Diabetics">
                        <label class="form-check-label" for="Diabetics">
                            Diabetics & Hormone
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Physician">
                        <label class="form-check-label" for="Physician">
                            General Physician
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Psychology">
                        <label class="form-check-label" for="Psychology">
                            Psychiatrist & Psychology
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Dental">
                        <label class="form-check-label" for="Dental">
                            Dental
                        </label>
                      </div>
                    </li>
                    <li>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Nutrition">
                        <label class="form-check-label" for="Nutrition">
                            Nutrition
                        </label>
                      </div>
                    </li>
    
                </ul>
            </aside>
            <div class="clearfix"></div>
        </div>
       
    </div>
      <div class="col-md-9 testimonial-slider-three meet-docts">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/d1.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. R Ahsan</a></h3>
                <span class="designation">Medicine</span>
                <div class="text-center"> <a routerLink="/ahsan" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr2.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Dr. (Col.) Md. Ariful Islam Miah</a></h3>
                <span class="designation">Medicine</span>
                <div class="text-center"> <a routerLink="/ariful-islam-miah" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr3.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Mohammad Mehfuz e Khoda</a></h3>
                <span class="designation">Medicine</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr4.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Mohammad Ezazul Karim</a></h3>
                <span class="designation">Medicine & Chest Medicine </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr5.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Zulfiquar Siraj</a></h3>
                <span class="designation">Kidney & Medicine </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr6.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Mohammad Saiful Islam</a></h3>
                <span class="designation">Gastrology & Medicine </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr7.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Dr. Sharmin Rahman</a></h3>
                <span class="designation">Gynea & Obs </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dr8.png" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Dr. Bilkis Parvin</a></h3>
                <span class="designation">Gynea & Obs</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/anjuman.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Zulfiquar Siraj</a></h3>
                <span class="designation">FCPS (Gynae & Obs)
                Residential Surgeon </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/jonaedhakim.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Jonaed Hakim</a></h3>
                <span class="designation">FCPS (Gynae & Obs)
                Orthopedics & Traumatology </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/awladhossain.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Md. Awlad Hossain (Ripon)</a></h3>
                <span class="designation">Senior Consultant (Orthopedics) </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/shahriar.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Sumon Shahriar Morshed</a></h3>
                <span class="designation">Consultant (Pedriatic Department) </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/nadirarahman.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Nadira Rahman</a></h3>
                <span class="designation">Neonatologist & pediatrician</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/khairulkabir.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Khairul Kabir</a></h3>
                <span class="designation">Neuro Medicine</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/monowarhossain.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. SM Monowar Hossain</a></h3>
                <span class="designation">Neurology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/rafikujjaman.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Bri. Zen. (Rted.) Dr. Md. Rafikujjaman</a></h3>
                <span class="designation">ENT </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dipankar.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Dipankar Lodh</a></h3>
                <span class="designation">ENT</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/biinoy.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Binoy Guha</a></h3>
                <span class="designation">Cardiology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/saqifshahriar.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Saqif Shahriar</a></h3>
                <span class="designation">Cardiology </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/smitakanungo.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Smita Kanungo </a></h3>
                <span class="designation">Cardiology </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/arifchowdhury.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Dr. Arif. Chowdhury</a></h3>
                <span class="designation">Dermatology and Venereal Diseases</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tanimatama.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Tanima Tama</a></h3>
                <span class="designation">Trained in Asthetic Dermatology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/sarforakhan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Sarforaj Ali Khan</a></h3>
                <span class="designation">Urology & Kidney </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/afrintani.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Sadia Afrin Tani </a></h3>
                <span class="designation">Surgery </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/kabirulhasan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Md. Kabirul Hasan</a></h3>
                <span class="designation">Surgery</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/malimkhan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. MA Halim Khan</a></h3>
                <span class="designation">Diabetics & Hormone </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tsiddique.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Taslima Siddique</a></h3>
                <span class="designation">Dialectologist & Medicine </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/shirinakter.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Shirin Akter </a></h3>
                <span class="designation">General Physician </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/nuruazim.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Colonel (Prof.) Nurul Azim (Rted.)</a></h3>
                <span class="designation">Psychiatrist & Psychology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/rubadatabassum.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Rubada Tabassum Ovi</a></h3>
                <span class="designation">Dental </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tohrasafa.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Nutritionist Tohra Safa</a></h3>
                <span class="designation">Nutrition </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  