<section class="sub-pages appointment-bg">
    <div class="all-wrapper">
      <div class="page-title-content text-center">
        <h2>Projects</h2>
       
      </div>
    </div>
  </section>
<div class="clearfix"></div>
  <div class="container mt-2 pt-3 mb-5 pb-5">
    <div class="row mb-5 mt-5">
        
      <div class="col-md-4 p-4">
          <div class="gr-block">
              <div class="gr-block-list">
                  <img src="assets/images/gm1.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
                 <span class="modal-img" onclick="openModal();currentSlide(1)">
                  <i class="fa-regular fa-plus"></i>
                 </span>
                 <div class="post-date">HyperAI</div>
              </div>
              <div class="entry-content">
                <h3 class="service-title">HyperAI gaming template design</h3>
                <p>
                  It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
                </p>
                <button class="btn-view" onclick="openModal();currentSlide(1)">View Details</button>
            </div>
          </div>
        
      </div>

      <div class="col-md-4 p-4" style="border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;">
          <div class="gr-block">
              <div class="gr-block-list">
                  <img src="assets/images/at.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
                 <span class="modal-img" onclick="openModal();currentSlide(2)">
                  <i class="fa-regular fa-plus"></i>
                 </span>
                 <div class="post-date">Attorney Live</div>
              </div>
              <div class="entry-content">
                  <h3 class="service-title">Attorney Live template design</h3>
                  <p>
                    It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
                  </p>
                  <button class="btn-view" onclick="openModal();currentSlide(2)">View Details</button>
              </div>
          </div>
        
      </div>

      <div class="col-md-4 p-4">
          <div class="gr-block">
              <div class="gr-block-list">
                  <img src="assets/images/che1.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
                 <span class="modal-img" onclick="openModal();currentSlide(3)">
                  <i class="fa-regular fa-plus"></i>
                 </span>
                 <div class="post-date">Checkup</div>
              </div>
              <div class="entry-content">
                <h3 class="service-title">Checkup mobile app</h3>
                <p>
                  It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Angular and it fully responsive on mobile device.
                </p>
                <button class="btn-view" onclick="openModal();currentSlide(3)">View Details</button>
            </div>
          </div>
        
      </div>

      <div class="col-md-4 p-4 mt-4">
        <div class="gr-block">
            <div class="gr-block-list">
                <img src="assets/images/gla3.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
               <span class="modal-img" onclick="openModal();currentSlide(4)">
                <i class="fa-regular fa-plus"></i>
               </span>
               <div class="post-date">Phucuong</div>
            </div>
            <div class="entry-content">
              <h3 class="service-title">Phucuong template design</h3>
              <p>
                It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Bootstrap and it fully responsive on any device.
              </p>
              <button class="btn-view" onclick="openModal();currentSlide(4)">View Details</button>
          </div>
        </div>
      
    </div>

    <div class="col-md-4 p-4 mt-4" style="border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;">
        <div class="gr-block">
            <div class="gr-block-list">
                <img src="assets/images/glha.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
               <span class="modal-img" onclick="openModal();currentSlide(5)">
                <i class="fa-regular fa-plus"></i>
               </span>
               <div class="post-date">Harunurology</div>
            </div>
            <div class="entry-content">
                <h3 class="service-title">Harunurology Doctor Portfolio</h3>
                <p>
                  It’s built with PSD design, after completing PSD I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
                </p>
                <button class="btn-view" onclick="openModal();currentSlide(5)">View Details</button>
            </div>
        </div>
      
    </div>

    <div class="col-md-4 p-4 mt-4">
        <div class="gr-block">
            <div class="gr-block-list">
                <img src="assets/images/glkb1.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
               <span class="modal-img" onclick="openModal();currentSlide(6)">
                <i class="fa-regular fa-plus"></i>
               </span>
               <div class="post-date">KBlabbd</div>
            </div>
            <div class="entry-content">
              <h3 class="service-title">KBlabbd Hospital website</h3>
              <p>
                It’s built with PSD design, after completing PSD I have converted in HTML5, CSS3, Angular and it fully responsive on mobile device.
              </p>
              <button class="btn-view" onclick="openModal();currentSlide(6)">View Details</button>
          </div>
        </div>
      
    </div>

    
    <div class="col-md-4 p-4 mt-4">
      <div class="gr-block">
          <div class="gr-block-list">
              <img src="assets/images/seca.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
             <span class="modal-img" onclick="openModal();currentSlide(7)">
              <i class="fa-regular fa-plus"></i>
             </span>
             <div class="post-date">Amen RA Security</div>
          </div>
          <div class="entry-content">
            <h3 class="service-title">Amen RA Security template design</h3>
            <p>
              It’s built with  HTML5, CSS3, Bootstrap and it fully responsive on any device.
            </p>
            <button class="btn-view" onclick="openModal();currentSlide(7)">View Details</button>
        </div>
      </div>
    
  </div>

  <div class="col-md-4 p-4 mt-4" style="border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;">
      <div class="gr-block">
          <div class="gr-block-list">
              <img src="assets/images/talena.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
             <span class="modal-img" onclick="openModal();currentSlide(8)">
              <i class="fa-regular fa-plus"></i>
             </span>
             <div class="post-date">Open Education</div>
          </div>
          <div class="entry-content">
              <h3 class="service-title">Open Education template</h3>
              <p>
                It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Bootstrap and it fully responsive on any device.
              </p>
              <button class="btn-view" onclick="openModal();currentSlide(8)">View Details</button>
          </div>
      </div>
    
  </div>

  <div class="col-md-4 p-4 mt-4">
      <div class="gr-block">
          <div class="gr-block-list">
              <img src="assets/images/doctda.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
             <span class="modal-img" onclick="openModal();currentSlide(9)">
              <i class="fa-regular fa-plus"></i>
             </span>
             <div class="post-date">MUSTARD SEED</div>
          </div>
          <div class="entry-content">
            <h3 class="service-title">MUSTARD SEED Admin Dashboard</h3>
            <p>
              It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Bootstrap and it fully responsive on mobile device.
            </p>
            <button class="btn-view" onclick="openModal();currentSlide(9)">View Details</button>
        </div>
      </div>
    
  </div>
   
   
  <div class="col-md-4 p-4 mt-4">
    <div class="gr-block">
        <div class="gr-block-list">
            <img src="assets/images/onlga.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
           <span class="modal-img" onclick="openModal();currentSlide(10)">
            <i class="fa-regular fa-plus"></i>
           </span>
           <div class="post-date">Fuchibola</div>
        </div>
        <div class="entry-content">
          <h3 class="service-title">Fuchibola online gaming template</h3>
          <p>
            It’s built with  HTML5, CSS3, Bootstrap and it fully responsive on any device.
          </p>
          <button class="btn-view" onclick="openModal();currentSlide(10)">View Details</button>
      </div>
    </div>
  
</div>

<div class="col-md-4 p-4 mt-4" style="border-left: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;">
    <div class="gr-block">
        <div class="gr-block-list">
            <img src="assets/images/fma.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
           <span class="modal-img" onclick="openModal();currentSlide(11)">
            <i class="fa-regular fa-plus"></i>
           </span>
           <div class="post-date">FM radio station</div>
        </div>
        <div class="entry-content">
            <h3 class="service-title">FM radio station template</h3>
            <p>
              It’s built with PSD design, after completing PSD I have converted in HTML5, CSS3, javascript.
            </p>
            <button class="btn-view" onclick="openModal();currentSlide(11)">View Details</button>
        </div>
    </div>
  
</div>

<div class="col-md-4 p-4 mt-4">
    <div class="gr-block">
        <div class="gr-block-list">
            <img src="assets/images/alexa.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
           <span class="modal-img" onclick="openModal();currentSlide(12)">
            <i class="fa-regular fa-plus"></i>
           </span>
           <div class="post-date">AlphaHelixv</div>
        </div>
        <div class="entry-content">
          <h3 class="service-title">AlphaHelixv template</h3>
          <p>
            It’s built with Figma design, after completing Figma I have converted in HTML5, CSS3, Bootstrap and it fully responsive on mobile device.
          </p>
          <button class="btn-view" onclick="openModal();currentSlide(12)">View Details</button>
      </div>
    </div>
  
</div>


<div class="col-md-4 p-4 mt-4">
  <div class="gr-block">
      <div class="gr-block-list">
          <img src="assets/images/bihsa.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
         <span class="modal-img" onclick="openModal();currentSlide(13)">
          <i class="fa-regular fa-plus"></i>
         </span>
         <div class="post-date">BIHS</div>
      </div>
      <div class="entry-content">
        <h3 class="service-title">BIHS General Hospital</h3>
        <p>
          It’s built with PSD design, after completing PSD I have converted in HTML5, CSS3, Angular and it fully responsive on any device.
        </p>
        <button class="btn-view" onclick="openModal();currentSlide(13)">View Details</button>
    </div>
  </div>

</div>

<div class="col-md-4 p-4 mt-4" style="border-left: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;">
  <div class="gr-block">
      <div class="gr-block-list">
          <img src="assets/images/bita.png"alt="Talent A1"style="width:100%;  height:174px;object-fit: cover;" class="hover-shadow cursor">
         <span class="modal-img" onclick="openModal();currentSlide(14)">
          <i class="fa-regular fa-plus"></i>
         </span>
         <div class="post-date">Coineuron</div>
      </div>
      <div class="entry-content">
          <h3 class="service-title">Coineuron template</h3>
          <p>
            It’s built with FIGMA design, FIGMA completing PSD I have converted in HTML5, CSS3, Bootstrap, javascript.
          </p>
          <button class="btn-view" onclick="openModal();currentSlide(14)">View Details</button>
      </div>
  </div>

</div>

<div class="col-md-4 p-4 mt-4">
  <div class="gr-block">
      <div class="gr-block-list">
          <img src="assets/images/bsaa.png"alt="Talent A1"style="width:100%; height:174px; object-fit: cover;" class="hover-shadow cursor">
         <span class="modal-img" onclick="openModal();currentSlide(15)">
          <i class="fa-regular fa-plus"></i>
         </span>
         <div class="post-date">Baseball</div>
      </div>
      <div class="entry-content">
        <h3 class="service-title">Baseball template</h3>
        <p>
          It’s built with PSD design, after completing PSD I have converted in HTML5, CSS3, Bootstrap and it fully responsive on mobile device.
        </p>
        <button class="btn-view" onclick="openModal();currentSlide(15)">View Details</button>
    </div>
  </div>

</div>
 
   
      
    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
    
        <div class="mySlides">
          <div class="numbertext">01 / 15</div>
         <span class="link-all"> <a target="_blank" href="https://www.figma.com/file/sn2NGjuJTQ2mVIoM9fEqlb/HyperAI-Settings?node-id=0%3A1">Click to preview Figma design</a></span>
          <img src="assets/images/gaming.png" style="width:100%">
        </div>
    
        <div class="mySlides">
          <div class="numbertext">02 / 15</div>
          <span class="link-all"> <a  target="_blank" href="https://www.figma.com/file/E2b5lKmyLfaSjr85tTvRBk/ATTORNEY-LIVE-website?node-id=0%3A1">Click to preview Figma design</a></span>
          <img src="assets/images/at2.png" style="width:100%">
        </div>
  
        <div class="mySlides">
          <div class="numbertext">03 / 15</div>
          <span class="link-all"> <a  target="_blank" href="https://www.figma.com/file/oSeksTlLfRh2suxxbQRd18/Checkopup">Click to preview Figma design</a></span>
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/checkup-app/1.html#">Click to preview web</a></span>
          <img src="assets/images/chec2.png" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">04 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/phucuong/index.html">Click to preview web</a></span>
          <img src="assets/images/gl3.png" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">05 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="http://harunurology.com/#/home">Click to preview web</a></span>
          <img src="assets/images/glh.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">06 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://kblabbd.com/#/home">Click to preview web</a></span>
          <img src="assets/images/glkb.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">07 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://amenrasecurity.com/index.html">Click to preview web</a></span>
          <img src="assets/images/sec.png" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">08 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/open-education/training.html">Click to preview web</a></span>
          <img src="assets/images/talen.png" style="width:100%">
        </div>
      

        <div class="mySlides">
          <div class="numbertext">09 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/mustard-seed-fianl/10-membership-requested.html">Click to preview web</a></span>
          <img src="assets/images/doctd.png" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">10 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/fuchibola/index.html">Click to preview web</a></span>
          <img src="assets/images/onlg.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">11 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="http://pixeperfect.com/radio-station/">Click to preview web</a></span>
          <img src="assets/images/fm.png" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">12 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/fuchibola/index.html">Click to preview web</a></span>
          <img src="assets/images/alex.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">13 / 15</div>
          
          <span class="link-all"> <a  target="_blank" href="https://mysoftltd.com/hospital-web-site/#/about-bihs">Click to preview web</a></span>
          <img src="assets/images/bihs.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">14 / 15</div>
          <span class="link-all"> <a target="_blank" href="https://www.figma.com/proto/EGEPeYD1cYQXHJPrJOyISa/Coineuron?node-id=43%3A110">Click to preview Figma design</a></span>
          <span class="link-all"> <a  target="_blank" href="https://pixeperfect.com/coineuron/watchlist.html">Click to preview web</a></span>
          <img src="assets/images/bit.png" style="width:100%">
        </div>
        <div class="mySlides">
          <div class="numbertext">15 / 15</div>
      
          <span class="link-all"> <a  target="_blank" href=" https://pixeperfect.com/Baseball/index.html">Click to preview web</a></span>
          <img src="assets/images/bsa.png" style="width:100%">
        </div>
       
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
        <div class="caption-container">
          <p id="caption"></p>
        </div>
    
        
       
       
      </div>
    </div>
  </div>
   
  </div>
 






