<section class="sub-pages appointment-bg">
  <div class="all-wrapper">
    <div class="page-title-content text-center">
      <h2>About Me</h2>
     
    </div>
  </div>
</section>
  <div class="clearfix"></div>
  <div class="container">
    <section class="welcome-area">
      <!-- align-items-center -->
        <div class="row">
            <div class="col-lg-5">
              <div class="about-item">
                <div class="about-left">
                  <img src="assets/images/abt-new.png" alt="About">
                </div>
              </div>
         
            </div>
            <div class="col-lg-7">
              <div class="about-item about-right">
                <h2>Welcome to Pexel Perfect</h2>
                <p>
                  Are you looking for a front-end designer to convert PSD to HTML + Psd to bootstrap + Sketch to HTML + Xd to HTML + Ai to HTML + Figma to HTML + Zeplin to HTML + PDF to HTML with FREE RESPONSIVE DESIGN FOR ALL DEVICES? If your answer is "Yes" then you have come to the right place! I am working with 10+ years of experience in this profession.
                </p>
                <p class="text-black">
                  <strong>
                    I will provide those services!
                  </strong>
                </p>

                <p>
                  Figma to HTML, PSD to HTML, Sketch to HTML, wireframe to html, Xd to HTML, Ai to HTML, PDF to HTML, Landing page etc...
<br><br>
Having a good knowledge of Angular (Structural design by angular, Create core module, Create shared module, Create Routing, Create components), jQuery, and different CSS/Sass frameworks especially Bootstrap. My strong point on CSS/Sass is I build responsive designs which work on different screen resolutions.
                </p>
                <!-- <ul>
                    <li><span><i class="fa-solid fa-hospital-user"></i></span>Mission & Vision</li>
        
                    <p>
                      <strong><i>Being good at innovating is at the heart of our vision.</i></strong><br>
        As well as the concept of customer satisfaction in the ongoing relationship of our business culture. We are committed to working for the kind of people. At D'Akbar Health Care, we are actively involved in helping people stay healthy and happy.
        
                    </p>
                 
                   
                  </ul> -->
                </div>

                
                
            </div>
          </div>

        

         
    </section>
  </div>
  <div class="department-wrapper">
    <div class="container">

      <div class="row">
        <h1 class="title-all text-start mb-2 pb-3 font-manrope">Why Choose Me</h1>
        <div class="col-md-6">
        <p class="text-black mb-0">
          <strong>
            What you will get:
          </strong>
        </p>

        ✓ Pure HTML CSS hand-typed code<br>
        ✓ Pixel-perfect HTML/CSS<br>
        ✓ W3c Validate Code<br>
        ✓ Fully responsive<br>
        ✓ SEO friendly code<br>
        ✓ Cross-browser compatibility [Firefox, IE, Chrome, Opera, Safari]<br>
        ✓ All Code is Clean Hand Typing & Fresh<br>
        ✓ Latest Bootstrap support.<br>
        ✓ Google fonts, Custom Font & Font Awesome<br>
        ✓ High-quality markup with proper comments<br>
        ✓ Upload to server<br>
        ✓ Javascript/JQuery Animation<br>
        ✓ CSS3 Any Animation<br>
        ✓ CSS After Before Effect


        </div>

        <div class="col-md-6">
          <p class="text-black mb-0 mt-abt">
            <strong>
              What I will Design:
            </strong>
          </p>
         
          ✓ Convert Figma to HTML <br>
          ✓ Convert Psd to HTML <br>
          ✓ JPG/PNG/PDF to HTML<br>
          ✓ Sketch to HTML<br>
          ✓ AI, XD to HTML<br>
          ✓ PSD to bootstrap<br>
          ✓ Psd to HTML Responsive<br>
          ✓ e-commerce website<br>
          ✓ Convert FIGMA/XD/PDF/ PSD to HTML5, CSS3, jQuery, Angular, ReactJS
          ✓ Landing Page<br>
          ✓ Email Template<br>
          ✓ Clone any website
          
         
        </div>

        <div class="col-md-12 mt-4">
          <p class="text-black mb-0">
            <strong>
              What I need from you:
            </strong>
          </p>
         
          ✓ Provide me Figma/PSD/wireframe/JPG/PNG file<br>
          ✓ If you give me all assets file then my work will be easy and fast<br>
          
          <br>
          My Goal is to provide High-Quality Service in the minimum possible time. My Delivery time is very fast
          <br>
         <strong class="the-mr"> Try me I can surprise you with my Work</strong>
        </div>
      </div>
     
    </div>
  </div>

