<section class="sub-pages appointment-bg">
  <div class="all-wrapper">
    <div class="page-title-content text-center">
      <h2>I'd love to hear from you  </h2>
     
    </div>
  </div>
</section>

   <div class="container">
    <div class="row mar-top">
        
        <div class="col-lg-6 col-md-12 p-0">
          <div class="contact-form">
          
           <p class="libkall">
            <a href="https://www.fiverr.com/masudahmed179" target="_blank">
              <span>
                <img src="assets/images/fiverr.png" alt="">
                
              </span>
             <label>fiverr.com</label>
            </a>
         
           </p>
           <p class="libkall">
            <a href="https://www.upwork.com/freelancers/~01256932fb858a2398" target="_blank">
              <span>
                <img src="assets/images/upwork.png" alt="">
                
              </span>
              <label> upwork.com</label>
            </a>
           
           </p> 
           <p class="libkall">
            <a href="https://www.freelancer.ca/u/masudcsep" target="_blank">
              <span>
                <img src="assets/images/free.png" alt="">
                
              </span>
              <label> freelancer.ca</label>
            </a>
            
           </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 ps-0 ps-cusa">
          <div class="contact-info">
            <ul>
              <li>
                <div class="icon"> <i class="fas fa-envelope"></i> </div>
                <span>Email</span> <a href="#">masudcsep@gmail.com</a> </li>
              <li>
                <div class="icon"> <i class="fas fa-phone-volume"></i> </div>
                <span>Phone</span> <a href="#">+8801712768782</a> </li>
              <li>
                <div class="icon"> <i class="fas fa-map-marker-alt"></i> </div>
                <span>Address</span>871/3 east kazipara, Dhaka </li>
              
            </ul>
          </div>
        </div>
      </div>
   </div>




