
<carousel [isAnimated]="true">
    <slide>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/d1.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Dr. R Ahsan</a></h3>
              <span class="designation">Medicine</span>
              <div class="text-center"> <a routerLink="/ahsan" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr2.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Prof. Dr. (Col.) Md. Ariful Islam Miah</a></h3>
              <span class="designation">Medicine</span>
              <div class="text-center"> <a routerLink="/ariful-islam-miah" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr3.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Asst. Prof. Dr. Mohammad Mehfuz e Khoda</a></h3>
              <span class="designation">Medicine</span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr4.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Dr. Mohammad Ezazul Karim</a></h3>
              <span class="designation">Medicine & Chest Medicine </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr5.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Asst. Prof. Dr. Zulfiquar Siraj</a></h3>
              <span class="designation">Kidney & Medicine </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr6.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Dr. Mohammad Saiful Islam</a></h3>
              <span class="designation">Gastrology & Medicine </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr7.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Prof. Dr. Sharmin Rahman</a></h3>
              <span class="designation">Gynea & Obs </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/dr8.png" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Prof. Dr. Bilkis Parvin</a></h3>
              <span class="designation">Gynea & Obs</span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/anjuman.jpg" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Asst. Prof. Dr. Zulfiquar Siraj</a></h3>
              <span class="designation">FCPS (Gynae & Obs)
              Residential Surgeon </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/jonaedhakim.jpg" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Asst. Prof. Dr. Jonaed Hakim</a></h3>
              <span class="designation">FCPS (Gynae & Obs)
              Orthopedics & Traumatology </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/awladhossain.jpg" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Dr. Md. Awlad Hossain (Ripon)</a></h3>
              <span class="designation">Senior Consultant (Orthopedics) </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
          <div class="single-doctor-box">
            <div class="image"><img src="assets/images/shahriar.jpg" alt="doctor-image">
              <div class="icon"><i class="flaticon-medical-report"></i></div>
            </div>
            <div class="content">
              <h3><a>Dr. Sumon Shahriar Morshed</a></h3>
              <span class="designation">Consultant (Pedriatic Department) </span>
              <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
            </div>
          </div>
        </div>
      </div>
    </slide>

    <slide>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/nadirarahman.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Nadira Rahman</a></h3>
                <span class="designation">Neonatologist & pediatrician</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/khairulkabir.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Khairul Kabir</a></h3>
                <span class="designation">Neuro Medicine</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/monowarhossain.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. SM Monowar Hossain</a></h3>
                <span class="designation">Neurology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/rafikujjaman.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Bri. Zen. (Rted.) Dr. Md. Rafikujjaman</a></h3>
                <span class="designation">ENT </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          
        </div>
      </slide>

      <slide>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/dipankar.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Dipankar Lodh</a></h3>
                <span class="designation">ENT</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/biinoy.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Binoy Guha</a></h3>
                <span class="designation">Cardiology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/saqifshahriar.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Saqif Shahriar</a></h3>
                <span class="designation">Cardiology </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/smitakanungo.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Smita Kanungo
                   
                    </a></h3>
                <span class="designation">Cardiology </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          
        </div>
      </slide>


      <slide>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/arifchowdhury.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Prof. Dr. Arif. Chowdhury</a></h3>
                <span class="designation">Dermatology and Venereal Diseases</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tanimatama.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Tanima Tama</a></h3>
                <span class="designation">Trained in Asthetic Dermatology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/sarforakhan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asso. Prof. Dr. Sarforaj Ali Khan</a></h3>
                <span class="designation">Urology & Kidney  </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/afrintani.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. Sadia Afrin Tani
                   
                    </a></h3>
                <span class="designation">Surgery </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          
        </div>
      </slide>

      <slide>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/kabirulhasan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Md. Kabirul Hasan</a></h3>
                <span class="designation">Surgery</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/malimkhan.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Asst. Prof. Dr. MA Halim Khan</a></h3>
                <span class="designation">Diabetics & Hormone </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tsiddique.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Taslima Siddique</a></h3>
                <span class="designation">Dialectologist & Medicine  </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/shirinakter.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Shirin Akter
                   
                    </a></h3>
                <span class="designation">General Physician  </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          
        </div>
      </slide>
      <slide>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/nuruazim.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Colonel (Prof.) Nurul Azim (Rted.)</a></h3>
                <span class="designation">Psychiatrist & Psychology</span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/rubadatabassum.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Dr. Rubada Tabassum Ovi</a></h3>
                <span class="designation">Dental  </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 pb-5">
            <div class="single-doctor-box">
              <div class="image"><img src="assets/images/tohrasafa.jpg" alt="doctor-image">
                <div class="icon"><i class="flaticon-medical-report"></i></div>
              </div>
              <div class="content">
                <h3><a>Nutritionist Tohra Safa</a></h3>
                <span class="designation">Nutrition   </span>
                <div class="text-center"> <a routerLink="" class="link-btn read-more">View Profile </a></div>
              </div>
            </div>
          </div>
      
          
        </div>
      </slide>


      
  </carousel>
  