<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">maengman</h3>
              
              <p> It was wonderful to work with masudahmed179. He did a phenomenal job recreating my image file psd into a usable website markup! Would definitely recommend, and I look forward to working with masudahmed179 again!</p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">United States </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>


      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">meilleurprocess</h3>
              
              <p> Very professional, took the time to fully understand our requirements by asking relevant questions and requesting clarifications when needed. He delivered exactly what was asked in record time. He is also very responsive and answers his messages quickly. Overall we are very satisfied.</p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">France </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>

      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">fosterway
              </h3>
              
              <p> Excellent communication to ensure the expectations were set appropriately. Great communication during the project, timely delivery, and delivered exact specifications on the first delivery. Highly recommend.</p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">United States
              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>

      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">sharonteachey

              </h3>
              
              <p> It's amazing working with Masudahmed he is excellent and very professional. He will always be my go-to person.</p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">United States
              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>


      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">bmijuskovic

              </h3>
              
              <p> Masud was responsive and completed the order before the due date. Even though the result was not as expected due to a misunderstanding at the requirements collection stage from my side, part of the work we agreed was completed successfully.</p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">Cyprus
              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>


      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">manicapps

              </h3>
              
              <p> Excellent job assisting us with a last minute project. Delivered as specified and promptly. Will definitely use again on future work.

              </p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more">United States

              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>


      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">chrisaccede

              </h3>
              
              <p> Timely and Very easy to work with, looks as we expected, we will use his services again. Well laid out project structure, and clean code.



              </p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more"> Australia

              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>



      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">picciotd

              </h3>
              
              <p> The work done by masudahmed179 was excellent. The response time was great and he delivered on time exactly as promised. Highly recommended!!!





              </p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more"> Guatemala

              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>
 


      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">dreammakr

              </h3>
              
              <p> He worked extremely hard for several days and even stayed up late into the night due to our different time zones. I love his dedication and hard work. My highest recommendation.







              </p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more"> Hungary

              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>

      <div class="carousel-item">
        <div class="row m-0">

          <div class="col-xl-12 col-lg-12 col-md-12 pt-3 pb-5 p-0">
            <div class="department-block">
              <div class="item-icon-quate"><i class="fa-solid fa-quote-left"></i> </div>
              <h3 class="item-title">roymcewen

              </h3>
              
              <p> Seller is very skilled, this is the seocnd job with seller, definitely is one of the better xd to html gigs available on Fiverr







              </p>
              <div class="text-center"> <a routerlink="" class="link-btn read-more"> United Kingdom


              </a></div>
              <span>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              </span>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    
    
    <button class="carousel-control-prev custompre" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
    <button class="carousel-control-next customnext" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
  </div>