<div class="container">
    <div class="col-md-10 offset-md-1">
      <div class="link-all">
        <div class="link-list">
          <div class="icon2__text">
            <h3><i class="fa-solid fa-user-doctor"></i></h3>
          </div>
          <a routerlink="" target="_blank" class="icon2__button" href="/hospital-website-dakhbar/">Find a doctor</a></div>
        <div class="link-list">
          <div class="icon2__text">
            <h3><i class="fa-solid fa-calendar-days"></i></h3>
          </div>
          <a routerlink="" target="_blank" class="icon2__button" href="/hospital-website-dakhbar/">Appointments</a></div>
        <div class="link-list">
          <div class="icon2__text">
            <h3><i class="fa-solid fa-house-medical-circle-check"></i></h3>
          </div>
          <a routerlink="" target="_blank" class="icon2__button" href="/hospital-website-dakhbar/">Packages</a></div>
        <div class="link-list">
          <div class="icon2__text">
            <h3><i class="fa-solid fa-address-book"></i></h3>
          </div>
          <a routerlink="" target="_blank" class="icon2__button" href="/hospital-website-dakhbar/">Contact us</a></div>
      </div>
    </div>
  </div>
  